<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <hr>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/responder">
            <h3>Responda</h3>
            <label for="" style="color: aliceblue;">Resposta</label>
            <textarea name="corpo"class="form-control" id="" placeholder="Digite aqui..." cols="30" rows="10"></textarea>
            <button type="submit" class="btn btn-primary">Responder</button>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
        </form>
        <hr>
        <hr>
        <h3>Respostas</h3>
        <% if (respostas.length > 0) { %>
            <% respostas.forEach(resposta => { %>
                <div class="card">
                    <div class="card-body">
                        <%= resposta.corpo %>
                    </div>
                    <div class="card-footer">
                        <a href="/resposta/delete/<%= resposta.id %>">
                            <button class="btn btn-danger">Apagar</button>
                        </a>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>Não há respostas para esta pergunta ainda.</p>
        <% } %>
    </div>
</body>

<%- include ('partials/footer.ejs') %>