<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <hr>
        <p><%= pergunta.descricao %></p>
        <hr>
        <form method="POST" action="/responder">
            <h3>Responda</h3>
            <label for="" style="color: aliceblue;">Resposta</label>
            <textarea name="corpo"class="form-control" id="" placeholder="Digite aqui..." cols="30" rows="10"></textarea>
            <button type="submit" class="btn btn-primary">Responder</button>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
        </form>

        <a href="/" class="btn btn-warning">Voltar à tela inicial</a>

    </div>
</body>

<%- include ('partials/footer.ejs') %>